@charset "UTF-8";
body {
  font-family: "ヒラギノ明朝 ProN";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.heading {
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "PT Serif", serif;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.mb-20 {
  margin-bottom: 20px !important;
  margin-bottom: 1.25rem !important;
}

.about {
  background-color: #F0F0EC;
  padding-bottom: 44px;
  padding-bottom: 2.75rem;
}

.about__inner {
  padding-top: 21px;
  padding-top: 1.3125rem;
}

.about__heading {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
  margin-bottom: 2.125rem;
}

.about__img {
  width: 98px;
  width: 6.125rem;
  height: 96px;
  height: 6rem;
}
.about__img img {
  border-radius: 50%;
}

.about__lead {
  margin-left: 25px;
  margin-left: 1.5625rem;
  font-size: 13px;
  font-size: 0.8125rem;
}

.about__text {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.6666666667;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.header__logo {
  font-family: "PT Serif", serif;
  font-size: 25px;
  font-size: 1.5625rem;
  color: #fff;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
}

.main-visual__img {
  position: relative;
}
.main-visual__img:before {
  content: "";
  background: url(../../images/Sa.svg);
  width: 262px;
  width: 16.375rem;
  height: 240px;
  height: 15rem;
  position: absolute;
  right: 0;
  bottom: -25px;
  bottom: -1.5625rem;
}

.images {
  font-size: 0;
}

.images__left, .images__right {
  display: inline-block;
  width: 50%;
}

.learning {
  background-color: #E3E3E3;
}

.learning__inner {
  padding-top: 44px;
  padding-top: 2.75rem;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}

.learning__heading {
  margin-bottom: 47px;
  margin-bottom: 2.9375rem;
}

.learning__subHead, .learning__text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
}

.learning__subHead {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}

.learning__text {
  line-height: 1.6666666667;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.portFolio {
  background-color: #F0F0EC;
}

.portFolio__inner {
  padding-top: 47px;
  padding-top: 2.9375rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}

.portFolio__heading {
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.portFolio__item {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}

.portFolio__img {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .portFolio__img {
    margin-bottom: 0;
  }
}

.portFolio__title {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}

.portFolio__body {
  font-size: 12px;
  font-size: 0.75rem;
}

.portFolio__access {
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}

.portFolio__id {
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}

.portFolio__gitAccess {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}

.portFolio__text {
  line-height: 1.63;
}
/*# sourceMappingURL=styles.css.map */
