@charset "UTF-8";
body {
  font-family: "ヒラギノ明朝 ProN";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6477857878vw;
  }
}
@media (min-width: 971px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.heading {
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "PT Serif", serif;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 2.1875rem;
    font-weight: 400;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1021px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .pt-1 {
    padding-top: 0.0625rem !important;
  }
}

@media screen and (min-width: 768px) {
  .pt-7 {
    padding-top: 0.4375rem !important;
  }
}

@media screen and (min-width: 768px) {
  .pt-10 {
    padding-top: 0.625rem !important;
  }
}

@media screen and (min-width: 768px) {
  .pt-31 {
    padding-top: 1.9375rem !important;
  }
}

.mb-20 {
  margin-bottom: 20px !important;
  margin-bottom: 1.25rem !important;
}

.about {
  background-color: #F0F0EC;
}

.about__inner {
  padding-top: 21px;
  padding-top: 1.3125rem;
  padding-bottom: 44px;
  padding-bottom: 2.75rem;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-top: 2.25rem;
    padding-bottom: 5.1875rem;
  }
}

.about__heading {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .about__heading {
    margin-bottom: 1.0625rem;
  }
}

.about__content {
  display: grid;
  grid-template-columns: 7.8125rem 1fr;
  grid-template-rows: 8.125rem 1fr;
}
@media screen and (min-width: 768px) {
  .about__content {
    grid-template-columns: 12.9375rem 1fr;
    grid-template-rows: 1.5rem 10rem;
    padding-left: 0.625rem;
  }
}

.about__img {
  width: 98px;
  width: 6.125rem;
  height: 96px;
  height: 6rem;
}
.about__img img {
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .about__img {
    width: 8.5rem;
    height: 8.9375rem;
    grid-row: 1/3;
    grid-column: 1/2;
  }
}

.about__lead {
  font-size: 13px;
  font-size: 0.8125rem;
  padding-top: 38px;
  padding-top: 2.375rem;
}
@media screen and (min-width: 768px) {
  .about__lead {
    font-size: 0.75rem;
    padding-top: 0;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.about__text {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.6666666667;
  grid-row: 2/3;
  grid-column: 1/3;
}
@media screen and (min-width: 768px) {
  .about__text {
    display: inline-block;
    font-size: 0.875rem;
    letter-spacing: -0.0125rem;
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 3.125rem;
    padding-top: 1.5625rem;
  }
}

.header__logo {
  font-family: "PT Serif", serif;
  font-size: 25px;
  font-size: 1.5625rem;
  color: #fff;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
  }
}

.header__nav {
  padding-left: 50px;
  padding-left: 3.125rem;
  margin-top: -4px;
  margin-top: -0.25rem;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 20px;
  margin-right: 1.25rem;
}
.header__item a {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
}

.main-visual {
  overflow: hidden;
}

.main-visual__img {
  position: relative;
}
.main-visual__img:before {
  content: "";
  background: url(../../images/Sa.svg) no-repeat;
  background-size: contain;
  width: 305px;
  width: 19.0625rem;
  height: 240px;
  height: 15rem;
  position: absolute;
  right: -44px;
  right: -2.75rem;
  bottom: -27px;
  bottom: -1.6875rem;
}
@media screen and (min-width: 768px) {
  .main-visual__img:before {
    background: url(../../images/Sa-pc.svg) no-repeat;
    background-size: contain;
    width: 28.75rem;
    height: 22.375rem;
    bottom: -3.875rem;
    right: -3.1875rem;
  }
}

.drawer {
  position: fixed;
  top: 28px;
  top: 1.75rem;
  right: 20px;
  right: 1.25rem;
  width: 25px;
  width: 1.5625rem;
  height: 21px;
  height: 1.3125rem;
  z-index: 100;
}

.drawer__icon {
  position: relative;
  top: 0px;
  top: 0rem;
  width: 25px;
  width: 1.5625rem;
  height: 21px;
  height: 1.3125rem;
}
.drawer__icon.is-active {
  top: 7px;
  top: 0.4375rem;
}
.drawer__icon.is-active .drawer__bar1 {
  top: 0px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer__icon.is-active .drawer__bar2 {
  display: none;
}
.drawer__icon.is-active .drawer__bar3 {
  top: 0px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer__bar1,
.drawer__bar2,
.drawer__bar3 {
  position: absolute;
  width: 25px;
  width: 1.5625rem;
  height: 3px;
  height: 0.1875rem;
  background: #fff;
  border-radius: 1.25rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.drawer__bar1 {
  top: 0;
}

.drawer__bar2 {
  top: 9px;
  top: 0.5625rem;
}

.drawer__bar3 {
  top: 18px;
  top: 1.125rem;
}

.drawer-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
  z-index: 20;
  display: none;
}

.drawer-content__items {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.drawer-content__item {
  width: 200px;
  width: 12.5rem;
}
.drawer-content__item a {
  padding: 16px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 700;
  position: relative;
}

.learning {
  background-color: #E3E3E3;
}
@media screen and (min-width: 768px) {
  .learning {
    padding-top: 2.375rem;
    padding-bottom: 5.5rem;
  }
}

.learning__images {
  font-size: 0;
}
@media screen and (min-width: 768px) {
  .learning__images {
    width: 61.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4.75rem;
    margin-bottom: 2.65rem;
  }
}

@media screen and (min-width: 768px) {
  .learning__center {
    height: 20.8125rem;
    margin-bottom: 2.5625rem;
  }
}

.learning__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .learning__middle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 768px) {
  .learning__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -12rem;
  }
}

@media screen and (min-width: 768px) {
  .learning__left {
    width: 15.875rem;
    height: 9.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .learning__right {
    width: 15.375rem;
    height: 9.3125rem;
    margin-left: 2.5rem;
  }
}

.learning__inner {
  padding-top: 44px;
  padding-top: 2.75rem;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .learning__inner {
    position: relative;
  }
}

.learning__heading {
  margin-bottom: 47px;
  margin-bottom: 2.9375rem;
}
@media screen and (min-width: 768px) {
  .learning__heading {
    letter-spacing: -0.10625rem;
    margin-bottom: 2.3125rem;
  }
}

.learning__subHead,
.learning__text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  font-family: "PT Serif", serif;
}
@media screen and (min-width: 768px) {
  .learning__subHead,
.learning__text {
    font-size: 0.875rem;
  }
}

.learning__subHead {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}
@media screen and (min-width: 768px) {
  .learning__subHead {
    margin-bottom: 1.625rem;
  }
}

.learning__text {
  line-height: 1.6666666667;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .learning__text {
    margin-bottom: 1.6875rem;
    line-height: 1.7142857143;
  }
}

.portFolio {
  background-color: #F0F0EC;
}
@media screen and (min-width: 768px) {
  .portFolio {
    padding-bottom: 8.8125rem;
  }
}

.portFolio__inner {
  padding-top: 47px;
  padding-top: 2.9375rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .portFolio__inner {
    padding-top: 12.5rem;
  }
}

.portFolio__heading {
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .portFolio__heading {
    letter-spacing: 0.10625rem;
    margin-bottom: 1.5625rem;
  }
}

.portFolio__item {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .portFolio__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.875rem;
  }
}

.portFolio__img {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .portFolio__img {
    margin-bottom: 0;
    width: 27.1875rem;
    height: 12.4375rem;
    padding-top: 0.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .portFolio__content {
    width: 29.375rem;
    margin-left: 4.3125rem;
  }
}

.portFolio__title {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}
@media screen and (min-width: 768px) {
  .portFolio__title {
    margin-bottom: 1.4375rem;
    font-size: 0.875rem;
  }
}

.portFolio__body {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .portFolio__body {
    font-size: 0.875rem;
  }
}

.portFolio__access {
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}

.portFolio__id {
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
}

.portFolio__gitAccess {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}

.portFolio__text {
  line-height: 1.63;
}
/*# sourceMappingURL=styles.css.map */
